{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block tabs %}
<a href="/" class="plain">Home</a>
<a href="/rank/" class="plain">Rank</a>
<a href="/challenge/" class="plain">Challenge</a> 
<a href="/forum/" class="plain">Forum</a>
<a href="/about/" class="selected">About</a>
{% endblock%}

 {% block content %}
<center>
  <h1>...H4ck1ng Platf0rM...</h1>
  <br />
  <br />
  Hey, Girls and Boys, Welcome to Here.
  <br>
  <br><br>
  谨以此平台，献给三叶草小组的所有新老成员。愿你们幸福快乐。 
  <br><br><br><br>
  Powered by <a href="http://hi.baidu.com/renewjoy">Joy@[S.Y.C]</a>
  <br>2011.6.1
</center>
{% endblock%}
