.paginator
{
    width: 100%;
    text-align: center;
    float: left;
}

.paginator div.pages
{
}

.paginator div.items 
{
    float: right;
    width: 90px;
}

.paginator a, .paginator p
{
    font-size: 11px;
    width: 28px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 3px;
    border: 1px solid #3F7FA1;
    text-align: center;
    line-height: 15px;
    margin-top: 0;
    color: #3f7fa1;
}

.paginator p.selected
{
    background-color: #3f7fa1;
    color: #ffffff;
}
